body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: 150px 600px 150px;
    grid-template-rows: 100px 300px 100px 100px;
    border: 5px solid red;
}

.container > * {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid red;
}

.header{
    grid-column: span 3 ;
}

.left-col{
    grid-row: span 2;
}
.right-col{
    grid-row: span 2;
}
.page-footer{
    grid-column: span 3 ;
}